<form id="form-busqueda-avanzada-instrumentos" action="{{ path('desarrolloInstrumentos_instrumentoListado') }}" method="GET" class="form-horizontal">
	<div class="row form-group">
		<label for="{{ form.tip.vars.id }}" class="col-sm-4 control-label">Tipo Instrumento:</label>
		<div class="col-sm-8">
			{{ form_widget(form.tip, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
	<div class="row form-group">
		<label for="{{ form.per.vars.id }}" class="col-sm-4 control-label">{{ form.per.vars.label }}:</label>
		<div class="col-sm-8">
			{{ form_widget(form.per, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
	<div class="row form-group">
		<label for="{{ form.pla.vars.id }}" class="col-sm-4 control-label">{{ form.pla.vars.label }}:</label>
		<div class="col-sm-8">
			{{ form_widget(form.pla, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
	<div class="row form-group">
		<label for="{{ form.niv.vars.id }}" class="col-sm-4 control-label">{{ form.niv.vars.label }}:</label>
		<div class="col-sm-8">
			{{ form_widget(form.niv, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
	<div class="row form-group">
		<label for="{{ form.are.vars.id }}" class="col-sm-4 control-label">{{ form.are.vars.label }}:</label>
		<div class="col-sm-8">
			{{ form_widget(form.are, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
	<hr class="panel-wide">
	<div class="row form-group">
		<label for="{{ form.nombre.vars.id }}" class="col-sm-4 control-label">{{ form.nombre.vars.label }}:</label>
		<div class="col-sm-8">
			{{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
	<div class="row form-group">
		<label for="{{ form.descripcion.vars.id }}" class="col-sm-4 control-label">{{ form.descripcion.vars.label }}:</label>
		<div class="col-sm-8">
			{{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
	<div class="row form-group hidden">
		<div class="col-sm-8">
			<input type="hidden" name="busqueda" value="true">
			<input type="hidden" name="id"       value="none">
		</div>
	</div>
</form>