{% extends "DesarrolloInstrumentosBundle:Instrumento:index.html.twig" %}

{% block acctionheader %}
	<span class="text-light-gray"><a href="{{ path('desarrolloInstrumentos_instrumentoVer', { 'id': id }) }}">Ver <strong>({{ id }})</strong></a> / </span>
	Previsualizar
{% endblock %}

{% block btnheader %}
{% endblock %}

{% block contentwrapper %}
	{% if esInicio == true %}
		<div class="jumbotron">
			<div class="container-fluid">
				<div class="col-md-3">
					<dl>
						<dt>Tipo Instrumento</dt>
						<dd>{{ entity.getTip().getNombre() }}</dd>
					</dl>
					<dl>
						<dt>Plan</dt>
						<dd>{{ entity.getPla().getNombre() }}</dd>
					</dl>
					<dl>
						<dt>Periodo</dt>
						<dd>{{ entity.getPer().getNombre() }}</dd>
					</dl>
					<dl>
						<dt>Nivel</dt>
						<dd>{{ entity.getNiv().getNombre() }}</dd>
					</dl>
					<dl>
						<dt>Área</dt>
						<dd>{{ entity.getAre().getNombre() }}</dd>
					</dl>
				</div>
				<div class="col-md-9 text-center">
					<h1>{{ entity.nombre }}</h1>
					<p>{{ entity.descripcion }}</p>
					<p><a class="btn btn-primary btn-flat btn-lg btn-block" href="{{ path('desarrolloInstrumentos_instrumentoPrevisualizar', { 'id': id }) }}?page=1" role="button">Iniciar</a></p>
				</div>
			</div>
		</div>
		{% else %}
		<div class="jumbotron">
			<div class="container-fluid">
				<ul class="breadcrumb breadcrumb-page">
					<li>Tipo Instrumento: <strong>{{ entity.getTip().getNombre() }}</strong></li>
					<li>Plan: <strong>{{ entity.getPla().getNombre() }}</strong></li>
					<li>Periodo: <strong>{{ entity.getPer().getNombre() }}</strong></li>
					<li>Nivel: <strong>{{ entity.getNiv().getNombre() }}</strong></li>
					<li>Área: <strong>{{ entity.getAre().getNombre() }}</strong></li>
					<li>Ítem: <strong>{{ page }}</strong></li>
				</ul>

				{% for item in pagination %}
					<p>{{ item.preguntaItem | raw() }}</p>
					<hr>
					<p>
						{% for alternativa in arrAlternativas %}
							<div class="radio">
								<label>
									<input type="radio" name="alternativa" value="alternativa[{{ item.idItem }}][{{ alternativa.idAlternativa }}]" class="px" checked="">
									<span class="lbl">{{ alternativa.textoAlternativa | raw() }}</span>
								</label>
							</div> <!-- / .radio -->
						{% endfor %}
					</p>
					<hr>
				{% endfor %}

				<p>
					<a class="btn btn-primary btn-flat btn-lg btn-block" href="#">
						Guardar y Continuar
						<i class="fa fa-arrow-right"></i>
					</a>
				</p>
			</div>
		</div>
		<div class="footer">
			<div class="navigation text-center">
				{{ knp_pagination_render(pagination) }}
			</div>
		</div>
	{% endif %}
{% endblock %}